<body>
    <header>
        <a style="margin-top: 20px;">Animal Hospital</a>
    </header>

    <form [formGroup]="formGroup">
        <div
            class="tab"
            *ngFor="let productType of this.CategoryArr"
            (click)="OnSelectionChanged($event, productType.id)"
        >
            <div>
                {{productType.category}}
            </div>
        </div>
    </form>

    <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="this.CurrentProductType===TYPE.Cat_Vaccine">
            <catVac></catVac>
        </ng-container>
        <ng-container *ngSwitchCase="this.CurrentProductType===TYPE.Cat_Wellness">
            <catWellness></catWellness>
        </ng-container>
        <ng-container *ngSwitchCase="this.CurrentProductType===TYPE.BOM">
            <app-bom></app-bom>
        </ng-container>
    </ng-container>

</body>