<body>
    <header>
        <img id="img-logo" src="assets/images/logo.png" alt="logo">
        <a id="tagline">Your pet's health Our priority</a>
    </header>

    <form [formGroup]="formGroup" class="parent">
        <div class="flex">
            <div
            class="flex-item"
            *ngFor="let productType of this.CategoryArr"
            (click)="OnSelectionChanged($event, productType.id)"
            >
            {{productType.category}}
            </div>
        </div>
    </form>

    <hr>

    <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="this.CurrentProductType===TYPE.Cat_Vaccine">
            <catVac></catVac>
        </ng-container>
        <ng-container *ngSwitchCase="this.CurrentProductType===TYPE.Cat_Wellness">
            <catWellness></catWellness>
        </ng-container>
        <ng-container *ngSwitchCase="this.CurrentProductType===TYPE.BOM">
            <app-bom></app-bom>
        </ng-container>

    </ng-container>

</body>