
  <div>
    <!-- <h2 style="text-align: center;">Cat</h2> -->
    <form >
      <input type="text" formControlName="textInput"  id="textInput" placeholder="Cat Name"  (input)="updateText()" ><br>

      <label>
        <input type="checkbox" formControlName="exam">
        Exam (recommand) - $49.99
      </label>
      <hr>
      <a>Vaccine options</a><br>
      <a><li>Core vaccines</li></a><br>
      <label>
        <input type="checkbox" formControlName="core1">
        Feline panleukopenia virus - $39.99
      </label>
      <br>
      <label>
        <input type="checkbox" formControlName="core2">
        Feline viral rhinotracheitis, also known as herpes virus type 1 (FHV-1)
        - $58.99
      </label>
      <br>
      <label>
        <input type="checkbox" formControlName="core3">
        Feline caliciviruses - $48.99
      </label>
      <br>
      <label>
        <input type="checkbox" formControlName="core4">
        Rabies virus - $48.99
      </label>
      <br>
      <label>
        <input type="checkbox" formControlName="core5">
        Feline leukemia virus (FeLV) - $118.99
      </label>
      <br>
      <a><li>Non-Core vaccines</li></a><br>
      <label>
        <input type="checkbox" formControlName="noncore1">
        Chlamydophila felis (causes feline chlamydiosis) - $109.99
      </label>
      <br>
      <label>
        <input type="checkbox" formControlName="noncore2">
        Bordetella bronchiseptica (causes feline bordetellosis) - $109.99
      </label>
      <br>
      <label>
        <input type="checkbox" formControlName="noncore3">
        Feline leukemia virus (FeLV) in adult cats - $109.99
      </label>
      <br>
      <hr>
      <select formControlName="select">
        <option value=""disabled selected>Neutering for Male/Female</option>
        <option value="Male">Male - $249.99</option>
        <option value="Female">Female - $329.99</option>
      </select>
    </form>
    <br>
    <hr>
    <h3 style="text-align: end">Total Price: ${{ totalPrice.toFixed(2) }}</h3>
  </div>



