<div style="text-align: right; margin-right: 220px; margin-top: 20px;"><button (click)="addToBom()" [disabled]="priceForm.invalid">BOM</button></div>
<div style="text-align: center;">
    <form [formGroup]="priceForm">
        <input
            type="text"
            formControlName="textInput"
            placeholder="Cat Name"
            [(ngModel)]="textInput"
            (input)="updateText()"
        >
        <!-- error message -->
        <div *ngIf="priceForm.get('textInput')?.invalid && priceForm.get('textInput')?.touched" class="text-danger">
            This field is required.
          </div><br>

        <label class="checkbox-label">
            <input type="checkbox" formControlName="Exam">
            Exam (recommand) <span>$49.99</span>
        </label>
        <hr>
        <a><li>Core vaccines</li></a><br>
        <label class="checkbox-label">
        <input type="checkbox" formControlName="FelineP" >
            Feline panleukopenia <span>$39.99</span>
        </label><br>
        <label class="checkbox-label">
            <input type="checkbox" formControlName="FHV1">
            Feline viral rhinotracheitis, also known as herpes virus type 1 (FHV-1) <span>$58.99</span>
        </label><br>
        <label class="checkbox-label">
            <input type="checkbox" formControlName="FelineC">
            Feline caliciviruses <span>$48.99</span>
        </label><br>
        <hr>

        <select formControlName="select">
            <option
                value=""
                disabled
                selected
            >Neutering for Male/Female</option>
            <option value="NeuterM">Male - $249.99</option>
            <option value="NeuterF">Female - $329.99</option>
        </select>
    </form>
    <br>
    <hr>
    <h3 style="text-align: end">Total Price: ${{ totalPrice.toFixed(2) }}</h3>
</div>